body {
    background-color: rgb(115, 0, 255);
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  #inscription {
    width: 300px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    text-shadow: 0 0 5px white; /* Ajout de l'ombre blanche autour du texte */
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Styles pour la troisième page */
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #555;
  }
  
  /* Styles pour le diaporama */
  #diaporama {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 40px; /* Ajoutez cette ligne pour augmenter la marge inférieure */
  }
  
  .swiper-container {
    width: 80%;
    height: 60%;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
  }
  
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .swiper-button-next {
    right: 10px;
  }
  
  .swiper-button-prev {
    left: 10px;
  }
  
  /* Styles pour le bouton "Accéder" */
  .btn-acceder {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .btn-acceder:hover {
    background-color: #555;
  }
  
  .minus-btn,
  .plus-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .minus-btn:hover,
  .plus-btn:hover {
    background-color: #555;
  }
  
  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }
  
  .is-active {
    animation-name: animate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
  
  @keyframes animate {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: right;
    }
  }
  
  .quantity {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 5px;
  }
  
  /* Styles pour le formulaire de contact */
  #contact-form {
    display: none;
    margin: 0 auto;
    width: 300px;
  }
  
  #contact-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  #contact-form input[type="text"],
  #contact-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #contact-form input[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  
  #contact-form input[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Styles pour la dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #555;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #accueil img {
    display: block;
    margin: 0 auto;
    width: 80%; /* Ajustez la largeur selon vos besoins */
    max-height: 400px; /* Ajustez la hauteur maximale selon vos besoins */
    border: 2px solid white; /* Ajoutez une bordure de 2px avec une couleur blanche */
    border-radius: 10px; /* Ajoutez un arrondi aux coins de l'image */
    transition: transform 0.3s; /* Ajoutez une transition pour l'effet de zoom */
  }
  
  #accueil img:hover {
    transform: scale(1.1); /* Applique un zoom de 10% sur l'image au survol de la souris */
  }
  
  #menu-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 100px;
    animation: slide-in 1s ease-in-out;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @media screen and (max-width: 400px) {
    /* Modifier les styles pour les écrans de taille inférieure à 400px */
    h1 {
      font-size: 24px;
    }
  }
 
  